.study-top{
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1;
    margin-bottom: 20px;
    box-shadow: 0 0 2px 2px rgba(0,0,0,.2);
    padding-bottom: 10px;
}
.study-example{
    display: flex;
}